Import libraries

Load Necesary libraries

In [20]:
import pandas as pd; pd.set_option('display.max_columns', 100)
import numpy as np

Load Data

In [21]:
#read data
df = pd.read_csv('../Data/ML_cars.csv')

Visualize the data

In [22]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [23]:
#Preview tipe of data 
def summary(df):
    print(f'data shape: {df.shape}')
    summ = pd.DataFrame(df.dtypes, columns=['data type'])
    summ['#missing'] = df.isnull().sum()
    summ['%missing'] = df.isnull().sum()*100/len(df)
    summ['#unique'] = df.nunique()
    desc = pd.DataFrame(df.describe(include='all').T)
    summ['min'] = desc['min']
    summ['max'] = desc['max']
    return summ

summary(df)

data shape: (205, 26)

                 data type  #missing  %missing  #unique     min      max
car_ID               int64         0       0.0      205     1.0    205.0
symboling            int64         0       0.0        6    -2.0      3.0
CarName             object         0       0.0      147     NaN      NaN
fueltype            object         0       0.0        2     NaN      NaN
aspiration          object         0       0.0        2     NaN      NaN
doornumber          object         0       0.0        2     NaN      NaN
carbody             object         0       0.0        5     NaN      NaN
drivewheel          object         0       0.0        3     NaN      NaN
enginelocation      object         0       0.0        2     NaN      NaN
wheelbase          float64         0       0.0       53    86.6    120.9
carlength          float64         0       0.0       75   141.1    208.1
carwidth           float64         0       0.0       44    60.3     72.3
carheight          float64         0       0.0       49    47.8     59.8
curbweight           int64         0       0.0      171  1488.0   4066.0
enginetype          object         0       0.0        7     NaN      NaN
cylindernumber      object         0       0.0        7     NaN      NaN
enginesize           int64         0       0.0       44    61.0    326.0
fuelsystem          object         0       0.0        8     NaN      NaN
boreratio          float64         0       0.0       38    2.54     3.94
stroke             float64         0       0.0       37    2.07     4.17
compressionratio   float64         0       0.0       32     7.0     23.0
horsepower           int64         0       0.0       59    48.0    288.0
peakrpm              int64         0       0.0       23  4150.0   6600.0
citympg              int64         0       0.0       29    13.0     49.0
highwaympg           int64         0       0.0       30    16.0     54.0
price              float64         0       0.0      189  5118.0  45400.0

Check the unique values ​​of some columns

In [24]:
unique_risk= df['symboling'].unique()
unique_fuel= df['fueltype'].unique()
unique_aspiration= df['aspiration'].unique()
unique_door= df['doornumber'].unique()
unique_carbody= df['carbody'].unique()
unique_drivewheel= df['drivewheel'].unique()
unique_loc= df['enginelocation'].unique()
unique_type= df['enginetype'].unique()
unique_cylinder= df['cylindernumber'].unique()
unique_fuelsystem= df['fuelsystem'].unique()	

print('Risk Value:', unique_risk)
print('Fuel type:', unique_fuel)
print('Aspiration:', unique_aspiration)
print('Doors number:', unique_door)
print('Car Body', unique_carbody)
print('Drive wheels:', unique_drivewheel)
print('Engine location:', unique_loc)
print('Engine type:', unique_type)
print('Numner of cylinders:', unique_cylinder)
print('Fuel System:', unique_fuelsystem)

Risk Value: [ 3  1  2  0 -1 -2]
Fuel type: ['gas' 'diesel']
Aspiration: ['std' 'turbo']
Doors number: ['two' 'four']
Car Body ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
Drive wheels: ['rwd' 'fwd' '4wd']
Engine location: ['front' 'rear']
Engine type: ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
Numner of cylinders: ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
Fuel System: ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']

In [25]:
# Split the "CarName" column into two parts (Brand and model) and select the brand
df[['Brand', 'Model']] = df['CarName'].str.split(' ', n=1, expand=True)

# dropping the 'CarName' column from the DataFrame
df = df.drop('CarName', axis=1)
# Get the unique values ​​of the "Brand" column
unique_brands = df['Brand'].unique()

# Print the unique values ​​of the brand
print("Unique Brands:")
print(unique_brands)

Unique Brands:
['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'maxda' 'mazda' 'buick' 'mercury' 'mitsubishi' 'Nissan' 'nissan'
 'peugeot' 'plymouth' 'porsche' 'porcshce' 'renault' 'saab' 'subaru'
 'toyota' 'toyouta' 'vokswagen' 'volkswagen' 'vw' 'volvo']

In [26]:
# Capitalize the first letter of each word in the new columns
df['Brand'] = df['Brand'].str.title()
df['Model'] = df['Model'].str.title()

# Print the DataFrame with the new columns
print(df[['Brand', 'Model']])

           Brand         Model
0    Alfa-Romero        Giulia
1    Alfa-Romero       Stelvio
2    Alfa-Romero  Quadrifoglio
3           Audi        100 Ls
4           Audi         100Ls
..           ...           ...
200        Volvo     145E (Sw)
201        Volvo         144Ea
202        Volvo         244Dl
203        Volvo           246
204        Volvo         264Gl

[205 rows x 2 columns]

Reorder data

In [27]:
# Get the "car_ID" index
car_id_index = df.columns.get_loc("car_ID")

# Reorder columns
new_columns_order = list(df.columns[:car_id_index]) + ['Brand', 'Model'] + list(df.columns[car_id_index:-2])

# Create new dataframe with changes
df_reordered = df[new_columns_order]

df = df_reordered
df = df.drop('car_ID', axis=1)

Correct wrong values in Brand Column

In [28]:
# Replace incorrect names in "Brand" column
corrections = {
    'Alfa-Romero': 'Alfa Romeo',
    'Bmw': 'BMW',
    'Maxda': 'Mazda',
    'nissan': 'Nissan',
    'Porcshce': 'Porsche',
    'Toyouta': 'Toyota',
    'Vokswagen': 'Volkswagen',
    'Vw': 'Volkswagen'
}

df['Brand'] = df['Brand'].replace(corrections)

# Get the unique values ​​of the "Brand" column
unique_brands = df['Brand'].unique()

# Print the unique values ​​of the brand
print("Unique Brands:")
print(unique_brands)

Unique Brands:
['Alfa Romeo' 'Audi' 'BMW' 'Chevrolet' 'Dodge' 'Honda' 'Isuzu' 'Jaguar'
 'Mazda' 'Buick' 'Mercury' 'Mitsubishi' 'Nissan' 'Peugeot' 'Plymouth'
 'Porsche' 'Renault' 'Saab' 'Subaru' 'Toyota' 'Volkswagen' 'Volvo']

Models per Brand

In [29]:
# Get the relationship between make and model
brand_model_relation = df.groupby('Brand')['Model'].unique().reset_index()

# Print
print(brand_model_relation)

         Brand                                              Model
0   Alfa Romeo                    [Giulia, Stelvio, Quadrifoglio]
1         Audi   [100 Ls, 100Ls, Fox, 5000, 4000, 5000S (Diesel)]
2          BMW                         [320I, X1, X3, Z4, X4, X5]
3        Buick  [Electra 225 Custom, Century Luxus (Sw), Centu...
4    Chevrolet                   [Impala, Monte Carlo, Vega 2300]
5        Dodge  [Rampage, Challenger Se, D200, Monaco (Sw), Co...
6        Honda  [Civic, Civic Cvcc, Accord Cvcc, Accord Lx, Ci...
7        Isuzu                      [Mu-X, D-Max , D-Max V-Cross]
8       Jaguar                                       [Xj, Xf, Xk]
9        Mazda  [Rx3, Glc Deluxe, Rx2 Coupe, Rx-4, 626, Glc, R...
10     Mercury                                           [Cougar]
11  Mitsubishi  [Mirage, Lancer, Outlander, G4, Mirage G4, Mon...
12      Nissan  [Versa, Gt-R, Rogue, Latio, Titan, Leaf, Juke,...
13     Peugeot     [504, 304, 504 (Sw), 604Sl, 505S Turbo Diesel]
14    Plymouth  [Fury Iii, Cricket, Satellite Custom (Sw), Fur...
15     Porsche                 [Macan, Panamera, Cayenne, Boxter]
16     Renault                                      [12Tl, 5 Gtl]
17        Saab                                 [99E, 99Le, 99Gle]
18      Subaru     [None, Dl, Brz, Baja, R1, R2, Trezia, Tribeca]
19      Toyota  [Corona Mark Ii, Corona, Corolla 1200, Corona ...
20  Volkswagen  [Rabbit, 1131 Deluxe Sedan, Model 111, Type 3,...
21       Volvo  [145E (Sw), 144Ea, 244Dl, 245, 264Gl, Diesel, ...

In [30]:
df.head()

,Brand,Model,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,Alfa Romeo,Giulia,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,Alfa Romeo,Stelvio,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,Alfa Romeo,Quadrifoglio,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,Audi,100 Ls,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,Audi,100Ls,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

Get a csv File to start EDA

In [31]:
df.to_csv('../Data/cleaned_data.csv', index=False)